.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 180px;
  background: #EEE8AA;
}

.sidenav .mat-toolbar {
  background: #BDB76B;
  position: flex;
  height: 70px;
  width: 180px;
}

.mat-toolbar.mat-primary {
  height: 80px;
  background: #BDB76B;
  color: #000000;
  position: flex;
  top: 0;
  z-index: 1;
}
